.row{
  margin-left: 30px !important; 
  margin-right: 30px !important; 
}
 .navbar {
  height: 45px;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button .pointer {
       cursor: pointer;
}

table, th , td {
    /*border: 1px solid grey;*/
    border: thin solid #ccc;
    border-collapse: collapse;
    padding: 5px;
    text-align:center;
    font-size:11px
}
table tr:nth-child(odd) {
    background-color: #dfdfdf;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}
th {
    background:#5cb85c;
}
table td, table th {
    border-right: thin solid #eee; border-bottom: thin solid #eee;
}

#SpecifPartie  td:nth-child(1) {cursor: pointer;}
#specifsTotalesParties  td:nth-child(1) {cursor: pointer;}



#placeholder {
    width: 800px;
    margin: 1em auto;
}
#placeholder2 {
    margin-right: auto; 
    margin-left: auto; 
    width: 800px;
    height:0px;
/*margin: 1em auto;*/
/*display:table;*/
}
#placeholder2 #placeholderSource {
    float:left;
    width:49%; /* modif bitexte avril 2018 */ 
}
#placeholder2 #placeholderCible {
    margin-left:51%   /* modif bitexte avril 2018 */ 
}



#contextehtml {
    margin-right: auto; 
    margin-left: auto; 
    width: 800px;
    border: 3px; 
/*font-size:0.7em;*/
}


#contextehtml #placeholderSource1 {
    float:left;
    width:48%;
}
#contextehtml #placeholderCible1 {
    margin-left:52%   
}


#contextehtml ins {
     text-decoration: underline  red;
}

#contextehtml #placeholderSource1 ins {
     text-decoration: underline  red;

}

#contextehtml #placeholderCible1 ins  {
    text-decoration: underline  red;
}



#Global {
    margin-right: auto; 
    margin-left: auto; 
    width: 98%; 
    border: 3px; 
    display:table;
}
#Global2 {
    margin-right: auto; 
    margin-left: auto; 
    width: 98%; 
    border: 3px; 
}




.audiojs { height: 22px; background: #404040;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444), color-stop(0.5, #555), color-stop(0.51, #444), color-stop(1, #444));
        background-image: -moz-linear-gradient(center top, #444 0%, #555 50%, #444 51%, #444 100%);
        -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
        -o-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); }
.audiojs .play-pause { width: 15px; height: 20px; padding: 0px 8px 0px 0px; }
.audiojs p { width: 25px; height: 20px; margin: -3px 0px 0px -1px; }
.audiojs .scrubber { background: #5a5a5a; width: 310px; height: 10px; margin: 5px; }
.audiojs .progress { height: 10px; width: 0px; background: #ccc;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(0.5, #ddd), color-stop(0.51, #ccc), color-stop(1, #ccc));
        background-image: -moz-linear-gradient(center top, #ccc 0%, #ddd 50%, #ccc 51%, #ccc 100%); }
.audiojs .loaded { height: 10px; background: #000;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.5, #333), color-stop(0.51, #222), color-stop(1, #222));
        background-image: -moz-linear-gradient(center top, #222 0%, #333 50%, #222 51%, #222 100%); }
.audiojs .time { float: left; height: 25px; line-height: 25px; }
.audiojs .error-message { height: 24px;line-height: 24px; }

.track-details { clear: both; height: 20px; width: 448px; padding: 1px 6px; background: white; color:  #2fcf2d; font-family: monospace; font-size: 11px; line-height: 20px;
        -webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.15); -moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.15); }
.track-details:before { content: '♫ '; font-size:20px;color:black}
.track-details em { font-style: normal; color: red; }


.passage-audio {
    height: 2em;
}
#passage-audio {
    width: 100%;
    max-height: 2em;
}
#passage-text.speaking {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.autofocus-current-word,
.playback-rate {
    font-size: smaller;
}
.autofocus-current-word label,
.playback-rate label {
    font-weight: bold;
}

.btnV {
height: 26px;
width: 26px;  
background-image:url('../images/ventilation.png');
background-repeat:no-repeat;
}
.btnS {
height: 26px;
width: 26px;  
background-image:url('../images/section.png');
background-repeat:no-repeat;
}
.btnC {
height: 26px;
width: 26px;  
background-image:url('../images/concordance.png');
background-repeat:no-repeat;
}
.btnA {
height: 26px;
width: 26px;  
background-image:url('../images/select.png');
background-repeat:no-repeat;
}
